<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" th:href="@{/css/style.css}" media="all" />
  <title th:text="${@environment.getProperty('app.title')}">SBBlog</title>
</head>
<body>
<h1><a th:href="@{/}" th:text="${@environment.getProperty('app.title')}">SBBlog</a></h1>
<div id="content">
  <div class="entry">
    <h2><a th:href="(${entry.id})" th:text="${entry.title}">xxx</a></h2>
    <div th:utext="${entry.body}">xxx</div>
    <br />
    <a th:href="@{/entries/{entryId}/edit(entryId=${entry.id})}">edit</a>
  </div>
</div>
</body>
</html>
